@keyframes marquee {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @-webkit-keyframes marquee {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
  
  .marquee {
    display: inline-block;
    overflow: hidden;
  }
  
  .marquee p {
    animation: marquee 1s linear infinite;
    -webkit-animation: marquee 5s linear infinite;
  }
  